{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        {% csrf_token %}
        <form method="POST" id="form">
          <!-- {% csrf_token %} -->
          <p>
            <label for="first_name">Name:</label>
            <input
              type="text"
              placeholder="Your Name"
              maxlength="200"
              required=""
              id="first_name"
            />
          </p>
          <p>
            <!-- Step 9: Part one -->
            <label for="reservation_date">Reservation date:</label>
            <input
              type="date"
              id="reservation_date"
              placeholder="Example: 2021-07-16"
            />
          </p>

          <p>
            <label for="reservation_slot">Reservation time:</label>
            <select id="reservation_slot">
              <option value="0" disabled>Select time</option>
            </select>
          </p>
          <button type="button" id="button">Reserve</button>
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings"></div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
<script>
  const date = new Date();

  const year = date.getFullYear();
  const month = (date.getMonth() + 1).toString().padStart(2, "0");
  const dateFormatted = date.getDate().toString().padStart(2, "0");
  const today = `${year}-${month}-${dateFormatted}`;

  const reservation_date = document.getElementById("reservation_date");
  reservation_date.value = today;
  getBookings();

  reservation_date.addEventListener("change", function (e) {
    console.log(document.getElementById("reservation_date").value);
    getBookings();
  });

  /*  Step 10: Part two */

  function getBookings() {
    let reserved_slots = [];
    const date = document.getElementById("reservation_date").value;
    document.getElementById("today").innerHTML = date;

    fetch("{% url 'bookings' %}" + "?date=" + date)
      .then((r) => r.json())
      .then((data) => {
        reserved_slots = [];
        bookings = "";

        /* Step 11: Part three */
        for (let i = 0; i < data.length; i++) {
          const booking = data[i].fields;
          console.log(booking);
          reserved_slots.push(booking.reservation_slot);
          bookings += `<p>${booking.first_name} - ${formatTime(
            booking.reservation_slot
          )}</p>`;
        }

        /* Step 12: Part four  */
        let slot_options = '<option value="0" disabled>Select time</option>';

        for (let i = 11; i < 20; i++) {
          const label = formatTime(i);

          if (reserved_slots.includes(i)) {
            slot_options += `<option value=${i} disabled>${label}</option>`;
          } else {
            slot_options += `<option value=${i}>${label}</option>`;
          }
        }

        document.getElementById("reservation_slot").innerHTML = slot_options;

        if (bookings == "") {
          bookings = "No bookings";
        }
        document.getElementById("bookings").innerHTML = bookings;
      });
  }

  function formatTime(time) {
    const ampm = time < 12 ? "AM" : "PM";
    const t = time < 12 ? time : time > 12 ? time - 12 : time;
    const label = `${t} ${ampm}`;
    return label;
  }

  document.getElementById("button").addEventListener("click", function (e) {
    const formdata = {
      first_name: document.getElementById("first_name").value,
      reservation_date: document.getElementById("reservation_date").value,
      reservation_slot: document.getElementById("reservation_slot").value,
    };

    fetch("{% url 'bookings' %}", {
      method: "post",
      body: JSON.stringify(formdata),
    })
      .then((r) => r.text())
      .then((data) => {
        getBookings();
      });
  });
</script>
{% endblock %}
